body {
  direction: rtl;
  font-family:Vazir;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

.chat-message {
  width: calc(100% - 10px); /* تمام عرض صفحه با در نظر گرفتن مارجین */
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  display: block;
}

.chat-message strong {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.chat-input-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-top: 1px solid #dddddd;
}

.chat-input {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 10px;
}

.button-container {
    display: flex;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
    border: none;
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-send-button {
    background-color: #1D4ED8; /* Blue background */
    color: white;
}

.chat-clear-button {
    background-color: #DC2626; /* Red background */
    color: white;
    margin-left: 10px; /* Space between buttons */
}

button:hover {
    background-color: #3B82F6; /* Lighter blue for hover effect */
}

button i {
    display: block;
    margin: auto;
}


.chat-input-container {
  position: relative;
}

.chat-input {
  width: calc(100% - 240px); /* Adjust the width to leave space for the buttons */
}

.chat-send-button, .chat-upload-button, .chat-clear-button {
  background-color: #4a5568; /* Gray-700 */
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.5rem;
}

.chat-send-button:hover, .chat-upload-button:hover, .chat-clear-button:hover {
  background-color: #2d3748; /* Gray-800 */
}

.hidden {
  display: none;
}